name: Test setup-pre-commit-uv

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      runs-on:
        description: "Runs on which image?"
        default: "ubuntu-latest"
        required: false

jobs:
  pre-commit:
    runs-on: ${{ inputs.runs-on || 'ubuntu-latest' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install tools
        uses: taiki-e/install-action@v2
        with:
          # supported tools
          # https://github.com/taiki-e/install-action/blob/main/TOOLS.md
          tool: typos
          fallback: none

      - name: Setup pre-commit
        uses: ./setup-pre-commit-uv
